
.header {
    margin-bottom: 70px;
}

.header__top {
    height: 16vh;
    background-color: #c5b7a1;/* - */
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-left: 5%;
    background-color: #e9e3da;/* - */
    background-color: #ffffff;
    color: #333333;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 30px;
}

.header__nav {
    margin-right: 3% ;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.header__nav div {
    padding: 0 10px 0 10px;
}

.nav {
    color: #808080;
}

.nav_on {
    color: #000000;
}



.main_about {
    /* background-color: #ffb9b7; */
    /* background-color: #ffffff; */
    display: flex;
    padding-left:5%;
    min-height: 40vh;
    color: #333333;
}

.main_about_blockLeft {
    /* background-color: #bcfaa9; */
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 60px;

}

.main_about_blockRight {
    /* background-color: #5f97ff; */
    margin-left: 17%;
    margin-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}


.footer {
    background-color: #ffb9b7;/*  */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 5%;
}

.footer__average {
    background-color: #7bffc8;/*  */
    background-color: #ffffff;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #808080;
}

.footer__lower {
    background-color: #8cbaff;/*  */
    background-color: #ffffff;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #808080;
    text-align: center;
}

.menu__icon {
    display: none;
}