html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    padding: 0;
	margin: 0;
	border: 0;
    scroll-behavior: smooth; 
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* убираем линии обводки */
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header{display: block;}

a:visited,
a:active, /* для активной/посещенной ссылке */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  display: block;			/* очень важно!!! */ 
}

ul,
ol,
li {
    list-style: none;   /* удаляем: маркеры + нумерацию */
}

img {
    height: 100%;
    width: 100%;
}
/* ---------------------------------------------------- */

.header {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 1000;
}

.header__nav {
    width: 100%;
    height: 100%;
    background-color: #00000033;
}

.header__wrap {
    max-width: 940px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 147px;
    height: 40px;
    background-image: url(images/logo-desk.svg);
    background-size: cover;
}

.header__menu {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__menu__bttn {
    margin-left: 78px;
}

.header__menu__bttn a {
    font-family: 'Open Sans', 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}


/* -----основной контейнер------ */
.main {
    width: 100%;
}
/* секция 1 */
.section__greeting {
    height: 853px;
    width: 100%;
    
    background-image: url(images/header-desk.jpg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section__greeting__left {
    width: 300px;
    padding-bottom: 50px;
}

.greeting__left__bottom-p1 {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    border: solid #ffffff 3px;
    font-family: 'Open Sans', 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.greeting__left__bottom-p1:hover {
    color: #a3a3a3;
    border-color: #a3a3a3;
    cursor: pointer;
}

.greeting__left__bottom-p2 {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.greeting__left__bottom-p2 #logo {
    width: 50px;
    margin: 15px;
}

.greeting__left__bottom-p3 {
    width: 100%;
    font-family: 'Open Sans', 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.greeting__left__top {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 120%;
    color: #ffffff;
}

.g-l-t-mob {
    display: none;
}

.section__greeting__right {
    width: 516px;
    height: 572px;
    background-image: url(images/header-hand-1.png);
}

.g-l-m-mob {
    display: none;
}

/* секция 2 */

.section__second {
    width: 100%;
    background-color: #E5E5E5; 
    /* background-color: #c7c7c7; */
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 95%);
}

.section__second__prg-top, .section__second__prg-bttm {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    color: #283645; 
    text-align: center;
}

/* секция 3 */

.section__three {
    width: 100%;
    height: 580px;
    display: flex;
}

.section__three__left {
    display: none;
}

.section__three {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

.section__three__right {
    display: flex;
    justify-content: center;
}

.three__right__cart {
    width: 250px;
    margin-left: 34px;
    margin-right: 34px;
    margin-bottom: 60px;
}

.three__right__cart-image {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    background-size: cover;
}

#section__three-image-1 {
    background-image: url(images/iphone-screen-1-desktop.png);
}

#section__three-image-2 {
    background-image: url(images/iphone-screen-2-desktop.png);
}

#section__three-image-3 {
    background-image: url(images/iphone-screen-3-desktop.png);
}

.three__right__cart-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.three__right__cart-text-head {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
}

.three__right__cart-text-main {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
}

/*   4 секция    */

.section__four {
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__four__left {
    min-width: 298px;
    height: 345px;
    background-image: url(images/section-four-timer.svg);
    background-size: cover;
}

.section__four__right {
    margin-left: 70px;
}

.four__right__head {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #000000; 
    margin-bottom: 35px;
}

.four__right__main {
    max-width: 534px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    margin-bottom: 35px;
}

.four__right__info {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #D22856;
    cursor: pointer;
}

/* секция 6 */
.section__six {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    align-items: center;
    color: #283645;
}

/* секция Контакты */
.section__contacts {
    width: 100%;
}

.section__contacts__mob-desk {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.contacts__text-head {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #283645;
    text-align: center;
    margin-bottom: 24px;
}

.contacts__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #D22856;
}

.contacts__no-tablet {
    margin-left: 100px;
    margin-right: 100px;
}


.section__contacts__tablet {
    display: none;
}


/* 7 СЕКЦИЯ - КАРТА */
.section__seven {
    height: 41.6vw;
    width: 100%;
    background-image: url(images/map-desk-svg.svg);
    background-size: cover;
    clip-path: polygon(0% 0%, 50% 22%, 100% 0%, 100% 100%, 0% 100%);
}

/* футер */
.footer {
    width: 100%;
    height: 200px;
    background-color: #E5E5E5;
}

.footer__wrap {
    max-width: 940px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    min-width: 147px;
    min-height: 40px;
    background-image: url(images/logo-footer.svg);
    background-size: cover;
}

.footer__center {
    display: flex;
}

.footer__center__social {
    width: 48px;
    height: 48px;
    border: 3px solid #2836454d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    cursor: pointer;
}

.footer__center__social img {
    width: 40%;
    height: 40%;
}



.footer__right {
    display: flex;
    
}

.footer__right-left {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #283645;
}

.footer__right-right {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #283645;
}